<div>
  <div>
    <label>CEP: </label>
    <input [(ngModel)]="cep" (input)="onInputCep()" />
  </div>
  <div>
    <label>Rua: </label>
    <input [(ngModel)]="street" />
  </div>
  <div>
    <label>Numero: </label>
    <input [(ngModel)]="number" />
  </div>
  <div>
    <label>Complemento: </label>
    <input [(ngModel)]="complement" />
  </div>
  <div>
    <label>Estado: </label>
    <input [(ngModel)]="state" />
  </div>
  <div>
    <label>Cidade: </label>
    <input [(ngModel)]="city" />
  </div>
  <div>
    <label>Bairro: </label>
    <input [(ngModel)]="neighborhood" />
  </div>
</div>


